/* Body */
body{
    background-color: rgb(224, 224, 224);
}

/* main */ 
main h1{
    text-align: center;
    margin-top: 50px;
    color: rgb(12, 73, 17);
    font-size: 4em;
}

form select{
    width: 10%;
    background-color: rgb(12, 73, 17);
    color: #FFF;
    border: none;
    margin-left: 620px;
    margin-top: 50px;
}

#btnEnviar{
    display: block;
    margin-left: 660px;
    margin-top: 10px;
}

/* footer */
#nav-footer-consulta{ 
    margin: 0;
    margin-top: 310px;
    text-align: center;
    color:rgb(224, 224, 224);
    background-color: rgb(12, 73, 17);
}

